[data-instance="flexgallery"] {
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 15px;
  font-weight: 200;
}

[data-instance="flexgallery"] *,
[data-instance="flexgallery"] *:before,
[data-instance="flexgallery"] *:after {
  box-sizing: inherit;
}

[data-instance="flexgallery"] .panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  width: 100%;
}

[data-instance="flexgallery"] .panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

[data-instance="flexgallery"] .panel>* {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-instance="flexgallery"] .panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1em;
}

[data-instance="flexgallery"] .panel>*:first-child {
  transform: translateY(-100%);
}

[data-instance="flexgallery"] .panel.open-active>*:first-child {
  transform: translateY(0);
}

[data-instance="flexgallery"] .panel>*:last-child {
  transform: translateY(100%);
}

[data-instance="flexgallery"] .panel.open-active>*:last-child {
  transform: translateY(0);
}

.panel p:nth-child(2) {
  font-size: 3em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

[data-instance="flexgallery"] .panel1 {
  background-image: url(/public/assets/img/4k-wallpaper-architecture-bird-s-eye-view-1482778.jpg);
}

[data-instance="flexgallery"] .panel2 {
  background-image: url(/public/assets/img/animal-aquatic-corals-847393.jpg);
}

[data-instance="flexgallery"] .panel3 {
  background-image: url(/public/assets/img/architecture-art-classic-1310788.jpg);
}

[data-instance="flexgallery"] .panel4 {
  background-image: url(/public/assets/img/guitar-music-musical-instrument-34074.jpg);
}

[data-instance="flexgallery"] .panel5 {
  background-image: url(/public/assets/img/outdoors-ray-of-sunshine-rock-800244.jpg);
}