[data-instance="cssvars"] {
  --base: #000000;
  --spacing: 0px;
  --blur: 0px;
  --opacity: 1;
}

[data-instance="cssvars"] img {
  padding: var(--spacing);
  background-color: var(--base);
  filter: blur(var(--blur));
  height: 100vh;
  width: 100%;
  opacity: var(--opacity);
  box-sizing: border-box;
}