[data-instance="drumkit"] {
  background-image: url(/public/assets/img/audience-band-concert-1105666.jpg);
  display: flex;
}

[data-instance="drumkit"] button {
  padding: 1rem;
  margin: 1rem;
  background: rgba(70, 68, 68, 0.8);
  border: 3px solid white;
  border-radius: .5rem;
  transition: all 300ms ease;
}

[data-instance="drumkit"] button small {
  color: #ccc;
}

[data-instance="drumkit"] button[data-playing] {
  transition: all 300ms ease;
  scale: 1.1;
  border-color: orangered;
}