[data-instance="mood"] {
  background-color: #ccc;
}

[data-instance="mood"] button {
  background: #333;
    border: outset #333 2px;
}

[data-instance="mood"] .page {
  /* min-height: 70vh;
  min-width: 600px; */
  box-sizing: inherit;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  background: white;
  color: #333
}