[data-instance="arrays"] {
  --base: #333333;
  --base-light: #666666;
  --spacer: .5rem;
  align-items: start;
  align-content: start;
  justify-content: start;
}

[data-instance="arrays"] .controls {
  position: unset;
  width: 100%;
}

[data-instance="arrays"] .controls>fieldset>label {
  background-color: var(--base-light);
  margin: var(--spacer);
  padding: var(--spacer);
  border-radius: var(--spacer);
}

[data-instance="arrays"] .weapon-list {
  display: flex;
  flex-wrap: wrap;
}

[data-instance="arrays"] .info {
  border-top: 1px solid white;
  width: 100%;
}

[data-instance="arrays"] .info .card {
  background-color: var(--base-light);
}