[data-instance="clock"] {
  background-image: url(/public/assets/img/architecture-background-buildings-218983.jpg);
}

[data-instance="clock"] .clock-face {
  width: 200px;
  height: 200px;
  position: relative;
  transform: translateX(10%);
  border: 6px solid white;
}

[data-instance="clock"] .clock-face .hand {
  width: 45%;
  height: 6px;
  background: white;
  position: absolute;
  top: 50%;
  left: 6%;
  transform-origin: 100%;
  /* sets pivot point */
  transform: rotate(90deg);
  /* set 12:00 positions as default */
  /* transition: transform 0.05s cubic-bezier(0.1, 2.7, 0.58, 1); */
}