[data-instance="dnd-shop"] {
  background-color: #ccc;
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(100px, 20%) auto;
}

[data-instance="dnd-shop"] .basket {
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: #222;
  max-height: 100vh;
  overflow-y: auto;
}

[data-instance="dnd-shop"] .basket ul,
[data-instance="dnd-shop"] .basket ul li {
  padding: 0;
  margin: 0;
}

[data-instance="dnd-shop"] .basket ul li {
  position: relative;
  padding: .3rem;
  margin: .5rem;
  background-color: #333;
}

[data-instance="dnd-shop"] .basket ul li [data-basketIndex] {
  position: absolute;
  right: 0;
  top: 0;
  background-color: orangered;
  border: 0;
  cursor: pointer;
}

/* [data-instance="dnd-shop"] .basket:hover,
[data-instance="dnd-shop"] .basket:focus {
  width: 75vw;
} */

[data-instance="dnd-shop"] .item-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  /* max-height: 100vh;
  overflow-y: auto; */
}

[data-instance="dnd-shop"] .item-grid>* {
  width: 100px;
  background-color: darkslategray;
  margin: auto;
  padding: 1rem .5rem;
  position: relative;
  margin: 1rem .5rem;
}

[data-instance="dnd-shop"] .item-grid img {
  width: 100%;
}

[data-instance="dnd-shop"] .item-grid button {
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  background-color: #333;
  border: 0;
  cursor: pointer;
}

[data-instance="dnd-shop"] .item-grid button:hover {
  background-color: #666;
}

.swal2-popup {
  min-width: 20rem;
  width: auto;
}