:root {
  --font-size: 16px;
  --font-color: white;
  --base: #333333;
  --base-light: #666666;
  --spacer: .5rem;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  font-family: Arial;
  background-color: #262626;
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--font-color);
}

button,
label {
  font-size: var(--font-size);
  color: var(--font-color);
}

nav.nav {
  position: fixed;
  z-index: 9999;
  right: .3rem;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 1rem;
  top: .3rem;
}

nav a {
  display: block;
  padding: .3rem;
  margin: .2rem;
  text-decoration: none;
}

nav a:hover {
  transform: scale(2);
}

[data-instance] {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

[data-instance] .controls {
  display: block;
  padding: 1rem;
  margin: 1rem;
  background: #333;
  position: absolute;
  border-radius: .5rem;
  z-index: 1;
  top: 0;
}

[data-instance] .controls-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  margin: 1rem;
  background: #333;
  border-radius: .5rem;
}

[data-instance] .controls-grid>.fullcol {
  grid-column-start: 1;
  grid-column-end: 3;
}

[data-instance] .card {
  background-color: var(--base);
  margin: var(--spacer);
  padding: var(--spacer);
  border-radius: var(--spacer);
  cursor: pointer;
}

a#toTop {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--base);
  border: 2px solid var(--base);
  z-index: 999;
  border-top-left-radius: .5rem;
}

a#toTop:hover {
  border: 2px solid var(--base-light);
}